{% block body_class %}portfolio-item{% endblock %}
{% extends "base.html" %}
{% block content %}
    <header>
    <h1 class="current-page-name">Portfolio</h1>
    <h1 class="content">My Portfolio Item</h1>
    </header>
    <h4><a class="portfolio-back" href="#">&laquo; Back to Portfolio - Artwork</a></h4>
    <br>
    <h2 class="content">How it Was Made</h2>
    <p class="content">
        <img src="./images/chara-fullbody.jpg" class="portfolio-item" alt="portfolio item image">
        'I don't know what you mean,' said Alice.
        'Of course you don't!' the Hatter said, tossing his head contemptuously. 'I dare say you never even spoke to Time!'
        'Perhaps not,' Alice cautiously replied: 'but I know I have to beat time when I learn music.'
        'Ah! that accounts for it,' said the Hatter. 'He won't stand beating. Now, if you only kept on good terms with him, he'd do almost anything you liked with the clock. For instance, suppose it were nine o'clock in the morning, just time to begin lessons: you'd only have to whisper a hint to Time, and round goes the clock in a twinkling! Half-past one, time for dinner!'
        ('I only wish it was,' the March Hare said to itself in a whisper.)
        'That would be grand, certainly,' said Alice thoughtfully: 'but then—I shouldn't be hungry for it, you know.'
    </p>

    <h2 class="content">Subtitle</h2>
    <p class="content">
        'I don't know what you mean,' said Alice.
        'Of course you don't!' the Hatter said, tossing his head contemptuously. 'I dare say you never even spoke to Time!'
        'Perhaps not,' Alice cautiously replied: 'but I know I have to beat time when I learn music.'
        'Ah! that accounts for it,' said the Hatter. 'He won't stand beating. Now, if you only kept on good terms with him, he'd do almost anything you liked with the clock. For instance, suppose it were nine o'clock in the morning, just time to begin lessons: you'd only have to whisper a hint to Time, and round goes the clock in a twinkling! Half-past one, time for dinner!'
        ('I only wish it was,' the March Hare said to itself in a whisper.)
        'That would be grand, certainly,' said Alice thoughtfully: 'but then—I shouldn't be hungry for it, you know.'
    </p>

    <h2 class="content">Subtitle</h2>
    <p class="content">
    <img src="./images/chara-fullbody.jpg" class="portfolio-item" alt="portfolio item image">
    'I don't know what you mean,' said Alice.
    'Of course you don't!' the Hatter said, tossing his head contemptuously. 'I dare say you never even spoke to Time!'
    'Perhaps not,' Alice cautiously replied: 'but I know I have to beat time when I learn music.'
    'Ah! that accounts for it,' said the Hatter. 'He won't stand beating. Now, if you only kept on good terms with him, he'd do almost anything you liked with the clock. For instance, suppose it were nine o'clock in the morning, just time to begin lessons: you'd only have to whisper a hint to Time, and round goes the clock in a twinkling! Half-past one, time for dinner!'
    ('I only wish it was,' the March Hare said to itself in a whisper.)
    'That would be grand, certainly,' said Alice thoughtfully: 'but then—I shouldn't be hungry for it, you know.'
</p>
{% endblock %}