<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The portfolio and blog of Monique Blake">
        <title>Monique Blake's Portfolio and Blog</title>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/splash.css">
    </head>
    <body>
    
    <!-- Search Bar Section -->
    <div class="container">
        <div id="custom-search-input">
        <!-- search input of the search bar -->
        <div class="input-group col-md-4 pull-right">
            <input type="text" class="search-query form-control" placeholder="Search" />
            
            <!-- button section of the search bar -->
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        </div>
    </div>
    <!-- Search Bar Section End -->

    <header class="container">
        <!-- Main Page Logo -->
        <div id="main-logo">
            <h5 id='main-blurb-h5'>The Portfolio and Blog of</h5>
            <h1 id="main-firstname-h1">Monique</h1>
            <h1 id="main-lastname-h1">Blake</h1>
        </div>
    <!-- Main Page Logo End -->

    <!-- Navbar Section -->
        <div id="navbar-lg">
            <nav class="navmenu">
            <ul>
                <li>
                    <a href="#" title="Home">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="About">
                        <span>About</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Resum&eacute;">
                        <span>Resum&eacute;</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Pfolio">
                        <span>P.folio</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Blog">
                        <span>Blog</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Contact">
                        <span>Mail</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </header>
    <!-- Navbar Section End -->

        <!-- ================= Footer Section ================= -->
        <footer class="footer">
            <div class="container">
                <div id="footer-copyright">
                    <p>
                        Copyright &copy; 2013-{{ currentYear }} Monique Blake. All Rights Reserved.
                    </p>
                </div>
                
                <!-- Social Media Icons -->
                <div id="footer-social-media-bar">
                    <a href="https://github.com/Munnu/">
                        <img class="footer-icons" src="./icons/github.svg" alt="View Monique Blake's profile on GitHub">
                    </a>
                    
                    <a href="https://www.linkedin.com/pub/monique-blake/56/161/a13">
                        <img class="footer-icons" src="./icons/linkedin.svg" alt="View Monique Blake's profile on LinkedIn">
                    </a>
                    
                    <a href="https://twitter.com/moniqueblake0">
                        <img class="footer-icons" src="./icons/twitter.svg" alt="View Monique Blake's profile on Twitter">
                    </a>
                    
                    <a href="http://www.instructables.com/member/MunnuB/">
                        <img class="footer-icons" src="./icons/robot.svg" alt="View Monique Blake's profile on Instructables">
                    </a>
                    
                </div>
                <!-- Social Media Icons End -->
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="scripts/color-svg.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>

    </body>
</html>