{% block body_class %}portfolio-page{% endblock %}
{% extends "base.html" %}
{% block content %}
    <header>
    <h1 class="current-page-name">Portfolio</h1>
    <h1 class="content header-title-default">Portfolio</h1>
    </header>
        <!-- portfolio navigation -->
        <div id="portfolio-nav">
            <nav>
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Engineering</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Misc</a></li>
                </ul>
            </nav>
        </div>
        <!-- end portfolio navigation -->

        <!-- portfolio thumbnails -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">

            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch
                <span class="darrow">&darr;</span>
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch &darr;
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch &darr;
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch &darr;
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch &darr;
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch &darr;
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch
                &darr;
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="images/chara-fullbody.jpg" alt="RO doodle">
            </a>
            <div class="thumb-overlay">
                <p class="thumb-blurb">RO Concept Sketch &darr;
                <span class="thumb-summary">
                    This is a description of the thumbnail.
                    Here is some more stuff that is written here
                    to see how things overflow. Adding an extra line just in case. Blah blah.
                </span>
                </p>
            </div>
        </div>
        <!-- end portfolio thumbnails -->
{% endblock %}