{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <header>
    <h1 class="current-page-name">Blog</h1>
    </header>
    <h2 class="content">{{ page.title }}</h2>
    <p class="content meta">{{ page.date }} ::
        <a href="{{ page.get_parent.url }}">
            Return to main blog page
        </a>
    </p>

    {% with categories=page.categories.all %}
        {% if categories %}
            <h2 class="content">Posted in:</h2>
            <ul class="content">
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }} |
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if page.main_image %}
      {% image page.main_image width-400 %}
    {% endif %}

    <p class="content">{{ page.intro }}</p>
    {{ page.body|richtext }}

    {% for item in page.gallery_images.all %}
        <h2 class="content">Featured Images</h2>
        <hr style="border-color:#45348d;">
        <div style="float: left; border-width: 3px; border-color:#45348d; border-style:solid;">
            {% image item.image fill-180x135 %}
            {% if item.caption %}
            <p class="content">{{ item.caption }}</p>
            {% endif %}
        </div>
    {% endfor %}

    {% if page.tags.all.count %}
        <div class="tags">
            <br>
            <h2 class="content" style="margin-bottom:-10px;">Tags</h2>
            <hr style="border-color:#45348d;">
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
