{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <header>
    <h1 class="current-page-name">Blog</h1>
    </header>
    <h2 class="content">{{ page.title }}</h2>
    <p class="content meta">{{ page.date }}</p>

    {% if page.main_image %}
      {% image page.main_image width-400 %}
    {% endif %}

    <p class="content">{{ page.intro }}</p>
    <p class="content">
        {{ page.body|richtext }}
    </p>
{% endblock %}