{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-portfoliopage{% endblock %}

{% block content %}
    <header>
    <h1 class="current-page-name">Portfolio</h1>
    </header>
    <h2 class="content">{{ page.title }}</h2>



    <!-- portfolio thumbnails -->
    {% for post in portfolio_item_pages %}
        {% with post=post.specific %}
            {% with post.main_image as main_image %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
                {% if main_image %}
                    <a class="thumbnail" href="{% pageurl post %}">
                        {% image main_image fill-300x200-c100 class="img-responsive" alt=post.title %}
                    </a>
                {% endif %}
                <div class="thumb-overlay">
                    <p class="thumb-blurb">{{ post.title }}
                        <span class="darrow">&darr;</span>
                        <span class="thumb-summary">
                            {{ post.intro }}

                        This is a description of the thumbnail.
                        Here is some more stuff that is written here
                        to see how things overflow. Adding an extra line just in case. Blah blah.
                        </span>
                    </p>
                </div>
            </div>
            {% endwith %}
        {% endwith %}
    {% endfor %}

{% endblock %}
