{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-portfoliopage{% endblock %}

{% block content %}
    <header>
    <h1 class="current-page-name">Portfolio</h1>
    </header>

    {% if request.GET.tag|length %}
        <h2 class="content">{{ page.title }} - {{ request.GET.tag }}</h2>
    {% else %}
        <h2 class="content">{{ page.title }} - All</h2>
    {% endif %}

    <!-- portfolio navigation -->
    <div id="portfolio-nav">
        <nav>
            <ul>
                <li><a href="{% slugurl 'portfolio' %}">All</a></li>
                <li><a href="{% slugurl 'portfolio' %}?tag=Engineering">Engineering</a></li>
                <li><a href="{% slugurl 'portfolio' %}?tag=Art">Art</a></li>
                <li><a href="{% slugurl 'portfolio' %}?tag=Music">Music</a></li>
                <li><a href="{% slugurl 'portfolio' %}?tag=Misc">Misc</a></li>
            </ul>
        </nav>
    </div>


    <!-- portfolio thumbnails -->
    {% for post in portfolio_item_pages %}
        {% with post=post.specific %}
            {% with post.main_image as main_image %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb">
                {% if main_image %}
                    <a class="thumbnail" href="{% pageurl post %}">
                        {% image main_image fill-300x200-c100 class="img-responsive" alt=post.title %}
                    </a>
                {% endif %}
                <div class="thumb-overlay">
                    <p class="thumb-blurb">{{ post.title }}
                        <span class="darrow">&darr;</span>
                        <span class="thumb-summary">
                            {{ post.intro }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </p>
                </div>
            </div>
            {% endwith %}
        {% endwith %}
    {% empty %}
    <p class="content">
        No portfolio items found with that tag.
    </p>
    {% endfor %}

{% endblock %}
