{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load widget_tweaks %}

{% block body_class %}template-formpage{% endblock %}
{% block content %}
    <header>
    <h1 class="current-page-name">Contact</h1>
    <h1 class="content header-title-default">{{ page.title }}</h1>
    </header>
    <p class="content">{{ page.intro|richtext }}</p>
    <div class="col-md-8">
        {% csrf_token %}
    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <br>
            <div class="form-group">
                  {% if field.label != "Message" %}
                    {% render_field field class="form-control" placeholder=field.label %}
                  {% endif %}
                  {% if field.label == "Message" %}
                    {% render_field field class="form-control" placeholder=field.label %}
                        <span class="help-block"><span id="characterLeft" class="help-block ">You have reached the limit</span></span>
                  {% endif %}
            </div>
        {% endfor %}


        <button type="submit" name="submit" class="contact-button pull-right">Submit Form</button>
        <button type="reset" name="reset" class="contact-button pull-left">Clear Form</button>
    </form>
    </div>
{% endblock %}
